body {
    margin: 0;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #111; /* Color de fondo para el canvas */
}

p {
    margin: 0;
    position: absolute;
    font: 16px Verdana;
    color: #eee;
    height: 25px;
    bottom: 10px; /* Posicionamiento desde la parte inferior */
    left: 50%; /* Centrado horizontal */
    transform: translateX(-50%); /* Centrado horizontal */
    text-shadow: 0 0 2px white;
}

p a {
    text-decoration: none;
    color: #aaa;
}

span {
    font-size: 11px;
}

p > a:first-of-type {
    font-size: 20px;
}
