body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}
